@import "fonts.scss";
@import "hovers.scss";
@import "media.scss";
@import "menu.scss";
@import "header.scss";
body{
    padding: 0;
    margin: 0;
    background: #E5E5E5;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
    background: #ffffff;
}
h1, h2, p{
    padding: 0;
    margin: 0;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}


.main__title{
    h1{
        font-size: 28px;
        line-height: 22px;
        color: #000000;
        font-family: "PTSansCaption";
        letter-spacing: -0.02em;
    }
    margin: 30px 0 0 70px;
}
.main__row{
    display: flex;
    margin: 30px 68px 30px 70px;
    //Общее для серии
    .series__state{
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        margin-right: 20px;
        flex-grow: 1;
        > p{
            width: 250px;
            font-family: "BrutalType";
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            margin: 25px 0 0 21px;
        }
        ul{
            margin-top: 24px;
        }
        li {
            width: 317px;
            font-family: "PTSans";
            padding: 0 0 25px 14px;
            font-size: 15px;
            line-height: 21px;
            border-left: 1px solid #828282;
            margin-left: 17px;
            position: relative;
        }
        li:last-child{
            border-width: 1px;
            border-top: 0px;
            border-style: solid;
            border-image: linear-gradient(to bottom,#828282,#FFFFFF) 0 0 0 100%;
        }
        li::before{
            content: "";
            position: absolute;
            left: -6px;
            top: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #828282;
        }
    }
    .series__state:last-child{
        margin-right: 0;
    }
    .serie_2{
        margin-right: 0;
    }
    .serie_3{
        display: none;
    }
    .series__button{
        width: 197px;
        height: 32px;
        margin: 0 auto 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FAAF3F;
        border-radius: 2px;
        p{
            color: #fff;
            font-family: "BrutalType";
            font-size: 14px;
            line-height: 18px; 
        }
    }

    

    //Общие стили для иконок

    .main__state-icones{
        display: flex;
        font-family: "PTSansCaption";
        .state__icons{
            margin-right: 9px;
            display: flex;
            align-self: center;
            p{
                color: #fff;
                font-size: 10px;
                margin-left: 5px;
            }
        }
        .state__icons:last-child{
            margin-right: 0;
        }
    }

    .main__column-1{
        display: flex;
        flex-direction: column;
        max-width: 789px;
        margin-right: 10px;
        .main{
            //общие стили для статей
            &__state-body{
                height: 100%;
                display: flex;
                flex-direction: column;
                margin: 0 20px;
                position: relative;
            }

            
            &__state-type{
                width: 118px;
                height: 24px;
                background: #FAAF3F;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                p{
                    font-family: "BrutalType";
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                }
            }
            &__state-title{
                margin-top: 50px;
                p{
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: -0.02em;
                    font-family: "BrutalType";
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            &__state-text{
                p{
                    font-family: "PTSans";
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            &__state-author{
                font-family: "PTSans";
                font-weight: bold;
                        >p{
                            font-size: 15px;
                        }
                        .right__text{
                            font-family: "PTSans";
                            font-size: 10px;
                        }
            }
        }
        .main__column-1__state-1{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, #000000 100%), url(../image/main_content/main__column-1/state-1.jpg) no-repeat ;
            background-size: cover;
            height: 492px;
            color: #fff;
            .main{
                &__state-type{
                    margin-top: 150px;
                }
                &__state-title{
                    width: 558px;
                    height: 83px;
                }
                &__state-text{
                    margin-top: 19px;
                }
                &__state-footer__row.state-1{
                    margin-top: 45px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        &__row{
            margin-top: 25px;
            display: flex;
            .main__column-1__state-2{
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, #000000 100%), url(../image/main_content/main__column-1/state-2.png) no-repeat;
                background-size: cover;
                flex-basis: 517px;
                margin-right: 25px;
                color: #fff;
                .main{
                    &__state-body{
                        margin-right: 67px;
                        .border:before {
                            right: -59px;
                        }
                    }
                    &__state-body:after {
                        right: -59px;
                    }
                    &__state-type{
                        margin-top: 85px;
                    }
                    &__state-title{
                        width: 430px;
                        height: 83px;
                    }
                    &__state-text{
                        margin-top: 38px;
                    }
                    &__state-author{
                        margin-top: 37px;
                    }
                    &__state-icones{
                        display: flex;
                        font-family: "PTSansCaption";
                        margin: 10px 0 30px 0;
                    }
                }
            }
            .main__column-1__state-3{
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, #000000 100%), url(../image/main_content/main__column-1/state-3.png) no-repeat;
                background-size: cover;
                flex-basis: 247px;
                color: #fff;
                .main{
                    &__state-body{
                        margin-right: 10px;
                        .border:before {
                            right: -2px;
                        }
                    }
                    &__state-body:after {
                        right: -2px;
                    }
                    &__state-type{
                        margin-top: 85px;
                        }
                    &__state-title{
                        width: 186px;
                        height: 186px;
                    }
                    &__state-author{
                        margin-top: 72px;
                    }
                    &__state-icones{
                        display: flex;
                        font-family: "PTSansCaption";
                        margin: 10px 0 30px 0;
                        .state__icons{
                            margin-right: 9px;
                            display: flex;
                            p{
                                font-size: 10px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
        .main__column-1__text-after-states{
            margin-top: 30px;
            p{
                font-size: 17px;
                line-height: 24px;
                color: #333333;
                font-family: "PTSans";
            }
        }
        .slider__arrowes{
            display: flex;
            .arrow__left{
                cursor: pointer;
                display: block;
                width: 13px;
                height: 13px;
                border-top: 3px solid rgba(81, 110, 119, 0.43);;
                border-right: 3px solid rgba(81, 110, 119, 0.43);;
                transform: rotate(-135deg);
            }
            .arrow__right{
                cursor: pointer;
                transform: rotate(45deg);
                display: block;
                width: 13px;
                height: 13px;
                border-top: 3px solid rgba(81, 110, 119, 0.43);;
                border-right: 3px solid rgba(81, 110, 119, 0.43);
            }
        }
        &__slider-states{
            margin-top: 30px;
            .slider{
            
                display: flex;
                justify-content: space-between;
                .slider__body.slider__media{
                    display: none;
                }
                .slider__body{
                    display: flex;
                    .slider__link{
                        font-family: "PTSans";
                        font-weight: bold;
                        font-size: 17px;
                        line-height: 24px;
                        margin-right: 40px;
                    }
                    .slider__link:last-child{
                        margin-right: 0;
                    }
                    .slider__link.active{
                            padding-bottom: 5px;
                            border-bottom: 2px solid #F7AB32;
                    }
                }
            }
            .states__body{
                margin-top: 30px;
                display: flex;
                .states__content{
                    width: 250px;
                    height: 177px;
                    position: relative;
                    p{
                        color: #fff;
                    }
                    > p{
                        margin: 20px 20px 0 20px;
                        font-family: "BrutalType";
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 24px;
                        letter-spacing: -0.02em;
                    }
                    .main__state-icones{
                        position: absolute;
                        left: 20px;
                        bottom: 20px;
                    }
                }
                &__state-1{
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/main_content/main__column-1/slider__states/state_1.png) no-repeat;
                    margin-right: 20px;
                    p{
                        text-transform: capitalize;
                    }
                }
                &__state-2{
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/main_content/main__column-1/slider__states/state_2.png) no-repeat;
                }
                &__state-3{
                    margin-left: 20px;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/main_content/main__column-1/slider__states/state_3.png) no-repeat;
                }
            }

        }
        &__series{
            margin-top: 30px;
            .series__title{
                display: flex;
                justify-content: space-between;
                h2{
                    color: #000000;
                    font-family: "PTSansCaption";
                    font-size: 28px;
                    line-height: 22px;
                    letter-spacing: -0.02em;
                }
            }
            .series__body{
                display: flex;
                margin: 30px 0 20px 0;
            }
        }
        

    }
    .main__column-2{

        display: flex;
        flex-direction: column;
        margin-left: 10px;
        &__states{
            width: 251px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
        }
        &__states.mobile__states{
            display: none;
        }
        &__states:last-child{
            margin-bottom: 0;
        }
        &__title__row{
            margin: 20px 17px 0 20px;
            display: flex;
            justify-content: space-between;
        }
        &__state__title{
            background: #333333;
            border-radius: 2px;
            width: 92px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                color: #fff;
                font-family: "BrutalType";
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                
            }
        }
        &__state__link{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: #0776D2;
                font-family: "PTSans";
                font-size: 14px;
                line-height: 21px;
            }
            
        }
        &__state__body{
            margin-top: 17px;
        }
        &__series{
            box-shadow: none;
            margin-right: 0;
            >p{
                width: auto;
                margin-top: 0 0 0 20px;
            }
            ul{
                margin-top: 26px;
            }
            li{
                margin-left: 21px;
                padding: 0 0 21px 14px;
                width: 203px;
            }
            li::before{
                left: -5.5px;
            }
            .series__button{
                margin: 0 17px 20px 20px;
                width: 217px;
            }
        }
        &__state__tests{
            width: 215px;
            height: 234px;
            margin: 0 17px 0 19px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/main_content/main__column-2/state__2.png);
            position: relative;
            .state__tests__text{
                p{
                    font-family: "BrutalType";
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 25px;
                    letter-spacing: -0.02em;
                    color: #fff;
                    padding-left: 20px;
                    padding-top: 64px;
                    padding-right: 18px;
                }
            }
            .tests__icones{
                position: absolute;
                left: 20px;
                bottom: 20px;
            } 
        }
        .tests__button{
            height: 32px;
            margin: 20px 17px 20px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FAAF3F;
            border-radius: 2px;
            p{
                color: #fff;
                font-family: "BrutalType";
                font-size: 14px;
                line-height: 18px; 
            }
            width: 217px;
        }

        &__state__video{
            margin: 24px 17px 0 20px;
            .state__video__preview{
                width: 214px;
                height: 146px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    cursor: pointer;
                }
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/main_content/main__column-2/state-3_videopreview.png);
            }
            .state__video__name{
                margin: 18px 0 16px 0;
                p{
                    font-family: "PTSans";
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 21px;
                }
            }
        }
        &__state__news{
            margin: 0 18px 0 20px;
            .state__news__data{
                margin-top: 19.78px;
                p{
                    color: #333333;
                    font-family: "PTSans";
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 21px;
                }
            }
            .state__news__time{
                margin-top: 7.7px;
                p{
                    font-family: "PTSans";
                    font-size: 14px;
                    line-height: 24px;
                    color: #516E77;
                }
            }
            .state__news__text{
                margin: 6px 0 23px 0;
                p{
                    font-family: "PTSans";
                    font-size: 15px;
                    line-height: 21px;
                    color: #333333;
                }

            }
        }
    }
}
